<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408935114132-oi0fn6mg2ci0lccnh1nn4bgnohdh1rk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408935114132-oi0fn6mg2ci0lccnh1nn4bgnohdh1rk8</string>
	<key>API_KEY</key>
	<string>AIzaSyBTFC2N4m9kkLiRNhaaAST-l4FwYo7TOxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>408935114132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.apexvision.ios</string>
	<key>PROJECT_ID</key>
	<string>apex-vision-388417</string>
	<key>STORAGE_BUCKET</key>
	<string>apex-vision-388417.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:408935114132:ios:apexvisionai</string>
	<key>DATABASE_URL</key>
	<string>https://apex-vision-388417.firebaseio.com</string>
</dict>
</plist>

